# Content Based Filtering

In [67]:
import pandas as pd
import numpy as np
import seaborn as sns

In [68]:
df = pd.read_csv("C:/Users/messi/OneDrive/Documents/movies_metadata.csv")

C:\Users\messi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [69]:
df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [71]:
df.shape

(45466, 24)

In [72]:
#Fill the tagline Nan values with space
df['tagline'].fillna('')

0
1                Roll the dice and unleash the excitement!
2        Still Yelling. Still Fighting. Still Ready for...
3        Friends are the people who let you be yourself...
4        Just When His World Is Back To Normal... He's ...
                               ...
45461           Rising and falling between a man and woman
45462
45463                               A deadly game of wits.
45464
45465
Name: tagline, Length: 45466, dtype: object

In [73]:
#Fill Description Nan values with overview and tagline of the same record
df['description'] = df['overview'] + df['tagline']

In [74]:
df.shape

(45466, 25)

In [75]:
#Drop duplicates and the description with no values
df.dropna(subset=['description'], inplace=True)
df['title'].drop_duplicates(inplace=True)

In [76]:
df.shape

(20404, 25)

In [77]:
df.reset_index()

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
0,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,When siblings Judy and Peter discover an encha...
1,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,A family wedding reignites the ancient feud be...
2,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Cheated on, mistreated and stepped on, the wom..."
3,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Just when George Banks has recovered from his ...
4,5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"Obsessive master thief, Neil McCauley leads a ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20399,45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,...,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0,The Morning After is a feature film that consi...
20400,45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,...,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,An unsuccessful sculptor saves a madman named ...
20401,45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,...,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,A film archivist revisits the story of Rustin ...
20402,45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,Rising and falling between a man and woman.Ris...
20403,45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"When one of her hits goes wrong, a professiona..."

In [78]:
#Using TfIdf matrix to find the similarity between the description of the movies, to recommend similar movies given a movie name
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['description'])
print(tfidf_matrix)

  (0, 278734)	0.10371811090214658
  (0, 901155)	0.10371811090214658
  (0, 230068)	0.10371811090214658
  (0, 1054288)	0.10371811090214658
  (0, 709468)	0.10371811090214658
  (0, 346136)	0.10371811090214658
  (0, 889438)	0.10371811090214658
  (0, 436236)	0.10371811090214658
  (0, 909159)	0.10371811090214658
  (0, 894796)	0.10371811090214658
  (0, 841159)	0.10371811090214658
  (0, 425169)	0.10371811090214658
  (0, 393141)	0.10371811090214658
  (0, 412423)	0.10371811090214658
  (0, 503675)	0.10371811090214658
  (0, 32697)	0.10371811090214658
  (0, 903628)	0.10371811090214658
  (0, 630991)	0.10371811090214658
  (0, 1188795)	0.10371811090214658
  (0, 8156)	0.10371811090214658
  (0, 424576)	0.10371811090214658
  (0, 535422)	0.10371811090214658
  (0, 1085994)	0.10371811090214658
  (0, 22758)	0.10371811090214658
  (0, 32650)	0.10371811090214658
  :	:
  (20403, 330191)	0.18248105258025352
  (20403, 62886)	0.18248105258025352
  (20403, 1184419)	0.18248105258025352
  (20403, 496245)	0.18248105258025352
  (20403, 835234)	0.16288493115305727
  (20403, 96306)	0.17524870721607458
  (20403, 1166763)	0.1299606280721071
  (20403, 96289)	0.143288809725861
  (20403, 698017)	0.1281754235673276
  (20403, 705208)	0.1299606280721071
  (20403, 496194)	0.11132891223564738
  (20403, 446330)	0.13742923064403934
  (20403, 1025462)	0.1453897243912016
  (20403, 254452)	0.13247706937792153
  (20403, 1184069)	0.09025431049003128
  (20403, 329780)	0.0940831802874946
  (20403, 835225)	0.1047697470802486
  (20403, 697906)	0.09642914729399599
  (20403, 62828)	0.11149484048718293
  (20403, 705170)	0.10144158383296147
  (20403, 117349)	0.09377187817302353
  (20403, 445196)	0.0763152883528865
  (20403, 298349)	0.11690629512244945
  (20403, 254213)	0.08579411111623311
  (20403, 424568)	0.084390677969171

In [79]:
tfidf_matrix.shape

(20404, 1198573)

In [80]:
# Using Cosine similarity to compare movies using their tfidf matrix values
from sklearn.metrics.pairwise import linear_kernel
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [81]:
cosine_similarities.shape

(20404, 20404)

In [82]:
cosine_similarities[0].shape

(20404,)

In [83]:
df = df.reset_index()

In [84]:
titles = df['title']
indices = pd.Series(df.index, index=df['title'])

In [85]:
def recommend(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_similarities[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [86]:
recommend('The Godfather').head(10)

865      The Godfather: Part II
16565          Honor Thy Father
12436                The Family
13078                Blood Ties
3256                       Made
4047         Johnny Dangerously
6008                       Fury
19387             Live by Night
26               Shanghai Triad
19841    In Memory of My Father
Name: title, dtype: object

In [87]:
recommend('Fight Club').head(5)

3886                      Delirious
6717     The Ballad of the Sad Cafe
13729                     Cleopatra
18498                    Time Table
14032               The Borderlands
Name: title, dtype: object

In [88]:
movie_name_ = input("Please enter a movie name to find similar movies: ")
recommend(str(movie_name_)).head(5)

Please enter a movie name to find similar movies: Made

18790       The Infiltrator
4047     Johnny Dangerously
13078            Blood Ties
16565      Honor Thy Father
4888               Mobsters
Name: title, dtype: object